.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffc477),
    color-stop(1, #fb9e25)
  );
  background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color: #ffc477;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0px;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  /*  margin: 0.5rem; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #cc9f52;
}
.button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #fb9e25),
    color-stop(1, #ffc477)
  );
  background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color: #fb9e25;
}
.button:active {
  position: relative;
  top: 1px;
}

#form {
  font-family: "Pontano Sans";
  font-weight: 700;
  font-size: large;
  text-align: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

#chooseName {
  font-weight: bold;
  font-size: 40px;
  font-family: "Bebas Neue";
}

.params {
  margin-bottom: 1rem;
  font-family: "Pontano Sans";
  margin: 0.75rem 8.5rem 0.75rem 8.5rem;
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 6px;
}
.Category {
  display: grid;
}
