.modal_content {
  background-color: #f598a0;
  width: 50%;
  padding: 20px;
  display: grid;
  border-radius: 5px;
  margin: 30px auto 30px auto;
  box-shadow: 0px 0px 15px 4px rgba(113, 113, 113, 0.68);
}

.close {
  color: Black;
  float: right;
  font-size: 3rem;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.grade {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: black;
}
#Grade {
  font-family: "Bebas Neue";
}

.earned-score {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

#PA {
  width: 100%;
}

.Zsp {
  margin-top: 5px;
  margin-bottom: 5px;
}
#playAgainButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
  box-shadow: inset 0px 1px 0px 0px #fce2c1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffc477),
    color-stop(1, #fb9e25)
  );
  background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color: #ffc477;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0px;
  border: 1px solid #eeb44f;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #cc9f52;
}

#playAgainButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #fb9e25),
    color-stop(1, #ffc477)
  );
  background: -moz-linear-gradient(center top, #fb9e25 5%, #ffc477 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color: #fb9e25;
}

#playAgainButton:active {
  position: relative;
  top: 1px;
}

#PlayAgain {
  display: grid;
  text-decoration: none;
}
