.modal_content {
  background-color: #f598a0;
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  margin: 30px auto 30px auto;
}

.close {
  color: Black;
  float: right;
  font-size: 3rem;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

.grade {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: black;
}
#Grade {
  font-family: "Bebas Neue";
}

.earned-score {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

#PA {
  width: 100%;
}

.Zsp {
  margin-top: 5px;
  margin-bottom: 5px;
}
